*, *::before, *::after {
    box-sizing: border-box;
}

*,
html {
    padding: 0;
    margin: 0;
    background-color: gray;
}

#kolom {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 90%;
    max-width: 600px;
    margin: 40px auto 0;
    padding: 20px;
    border: 2px solid white;
    border-radius: 8px;
}

#register {
    color: white;
    margin-bottom: 2px;
}

#minyak {
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 8px;
}

#usernameInput {
    background-color: white;
    color: black;
    margin-bottom: 2px;
}

#passwordInput {
    background-color: white;
    color: black;
    margin-bottom: 2px;
}

#ownerImg {
    height: 250px;
    width: 250px;
    border-radius: 8px;
}

#adminImg1 {
    height: 250px;
    width: 250px;
    border-radius: 8px;
}

#adminImg2 {
    height: 250px;
    width: 250px;
    border-radius: 8px;
}

#memberImg {
    height: 250px;
    width: 250px;
    border-radius: 8px;
}

#anomaliImg {
    height: 250px;
    width: 250px;
    border-radius: 8px;
}

#loginButton  {
    background-color: white;
    color: black;
    margin-bottom: 2px;
}

#logoutButton  {
    background-color: white;
    color: black;
    margin-bottom: 10px;
}

#note {
    color: white;
    margin-left: 30px;
    text-decoration: underline black;
}

#channel {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 90%;
    max-width: 600px;
    margin: 40px auto 0;
    padding: 20px;
    border: 2px solid white;
    border-radius: 8px;
}

#linkch {
    background-color: aqua;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 160px;
    max-height: 160px;
    border: 2px;
    border-radius: 8px;
    margin: 0 auto;
}

#minyak2 {
    text-align: center;
    border: 2px;
    border-radius: 8px;
}

#pembangunan {
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    border-radius: 8px;
}